.dice {
  text-align: center;
  display: inline-block;
  width: 44%;
}
.dices{
  position: absolute;
  width: 1000px;
  bottom: 45%;
  /* left: 50px; */
}
body {
  background-color: #393E46;
  
}
    h1 {
      margin: 3%;
      font-family: 'Lobster', cursive;
      text-shadow: 5px 0 #232931;
      font-size: 7.3rem;
      color: #4ECCA3;
      position: absolute;
      top: 10%;
      
    }

p {
  font-size: 2.9rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


footer {
  margin-top: 5%;
  color: #EEEEEE;
  font-size: 2rem;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  position: absolute;
  bottom: 7%;
  left: 10%;
}
.btn{
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color:  #ffb700;
  width: 200px;
  height: 70px;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  background-size: 100% 100%;
  box-shadow: 0 0 0 1px;
  margin-bottom: 15px;
}
.btn{
  position: absolute;
  bottom: 19%;
  left: 38%;
  width: 23%;
  height: 6%;
  font-size: 2rem;
  
}


@media (min-width: 1000px) {
  .btn{
    position: absolute;
    left: 63%;
    bottom:45%;
    width: 23%;
    font-size: 1.3rem;
  }
  h1 {
      margin: 30px;
      font-family: 'Lobster', cursive;
      text-shadow: 5px 0 #232931;
      font-size: 5.5rem;
      position: absolute;
      top: 0;
      color: #4ECCA3;
      position: relative;
    }
  .container {
      width: 70%;
      margin: auto;
      text-align: center;
      position: absolute;
      left:0;
    }
  .dices{
     position:absolute;
     top: 73%;
     right: 5%;
   }
  img{
     width: 50%;
   }
  footer{
      position: absolute;
      bottom: 32%;
      left:58%;
      font-size: 1rem;
      margin-top: 0;
    }
  p{
    font-size: 1.5rem;
    margin-top: 14%;
  
  }
}
 

 
/* @media (min-width: 768px) {

    h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #4ECCA3;
  }
 
.container {
  width: 70%;
  margin: auto;
  text-align: center;

}


} */ 